/********************************
Cuerpo
*********************************/

body{
	font-family: 'Roboto', sans-serif;
	background-color:aliceblue;
	color: coral;
    	align-content: space-around
    
}

#wrapper{
	max-width: 1000px;
	margin: auto;
	padding: auto;
}

{
	text-decoration:none;
	color: darkblue;
}

.nuevo li a{
	color:cadetblue;
}

/********************************
Encabezado
*********************************/
header{

	margin: auto;
	padding: 5px 0 0 0;
	width:100%;
	font-family: 'Roboto', sans-serif;
	background-color: aqua;
	border-color:crimson;
	color:black;
}
h1{
	padding:15px 0 0;
	margin:5px 0 0 5;
	font-size: 4.5em;
	font-weight: normal;
	line-height: 0.9em;
	
}

h2{
	font-size: 0.85em;
	margin:2px 0 0 7px;
	font-weight:normal;
	
}


/**********************
Internet
***********************/

nav{
	padding:10px 0;
	margin-top: 5px;
	background-color:forestgreen;
	text-align: center;
}

nav ul{
	list-style: none;
	margin: 0 10px;
	padding:0;
}



nav li{
	display:inline-block;
	padding:22px;
	border-radius: 60px;
	border-style: solid;
}


nav a{
	font-weight: 800;
	padding:8px 10px;
}

nav a.selected, a:hover{
	
	color:dodgerblue;
}


/**********************
 Portafolio
***********************/

#galeria{
	margin: 12px;
	padding: 12;
	
}


figure{
	float: right
	width:55%
	margin: 2.5%;
	display:block;
	
}

#right{
clear: both;
float:left;
	
}


#video{
	clear:both;
	max-width:100%;
	max-height:100%;
	
}
img{
	max-width:100%;
}

.img-resp{
	clear:both;
	max-width:50%;
	border-radius:100%;
	display: flex;
	
}

#galeria figure figcaption{
	margin:0;
	padding: 4.5%;
	font-size: 0.75em;
	text-align:center;
	color:darkgrey;
}
/**********************
Sobre Mi
***********************/

.profile-photo{
	display:block;
	width: 10px;
	margin:5px auto 25px;
	padding:10px;

}

#me {
	margin-top: 8px;
	text-align: center;

}

p a{
	color:chartreuse;
}
/**********************
Contactame
***********************/
    
form {
    width: 450px;
    margin: auto;
    background: (0,0,0,0,4);
    padding: 25px 25px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px;
}

h2 {
    colo
    text-align: center;
    margin: 0;
    font-size: 32px;
    margin-bottom: 10px;
}

input, texterea {
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
    box-sizing: ;
    font-size: 17px;
    border-style: double;
}

texterea {
    min-height: 175px;
    max-height: 400px;
    max-width: 300%;
}

#boton{
    background: #31384A;
    color: #fff;
    padding: 20px;
}

#boton:hover {
    cursor: pointer;
}


@media (max-width:480px) {
    form{
        width: 200%;
    }
    
    
}

